@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: VT323;
  src: url("../fonts/VT323-Regular.ttf");
}

.pixelated {
  image-rendering: pixelated;
}

img {
  image-rendering: pixelated;
}

html {
  --card-height: 15rem;
  --card-width: 10rem;
}
